<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.angelxehg.utzac.android.examples.android.app">

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.angelxehg.utzac.android.examples.TopMenuContentActivity"></activity>
        <activity android:name="com.angelxehg.utzac.android.examples.TopMenuActivity" />
        <activity
            android:name="com.angelxehg.utzac.android.examples.DebugActivity"
            android:parentActivityName="com.angelxehg.utzac.android.examples.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.angelxehg.utzac.android.examples.MainActivity" />
        </activity>
        <activity
            android:name="com.angelxehg.utzac.android.examples.IntentActivity"
            android:parentActivityName="com.angelxehg.utzac.android.examples.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.angelxehg.utzac.android.examples.MainActivity" />
        </activity>
        <activity
            android:name="com.angelxehg.utzac.android.examples.DataMenuActivity"
            android:parentActivityName="com.angelxehg.utzac.android.examples.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.angelxehg.utzac.android.examples.MainActivity" />
        </activity>
        <activity
            android:name="com.angelxehg.utzac.android.examples.DataActivity"
            android:parentActivityName="com.angelxehg.utzac.android.examples.DataMenuActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.angelxehg.utzac.android.examples.DataMenuActivity" />
        </activity>
        <activity
            android:name="com.angelxehg.utzac.android.examples.DesignPatternsActivity"
            android:parentActivityName="com.angelxehg.utzac.android.examples.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.angelxehg.utzac.android.examples.MainActivity" />
        </activity>
        <activity android:name="com.angelxehg.utzac.android.examples.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>